.recipe-view {
    color: #424242;
    background-color: white;
    margin: 20px;
    min-width: 70vw;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }