.Nav{
    background-color: #424242;
    
    
    margin: 3px 3px;
    border-radius: 5px;
    padding: 10px 10px;
    min-height: 100vh;

}
.Nav li{
    list-style-type: none; 
    padding: 10px ;

    
}

.Nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
 
    
}
.selected{
    background-color: #FF0D86;
    border-radius: 5px;
}
.Nav h1{
    margin: 0px 15px;
}